name: deploy
on:
  pull_request: {}
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: w3c/spec-prod@v2
      with:
        GH_PAGES_BRANCH: gh-pages
        W3C_ECHIDNA_TOKEN: ${{ secrets.ECHIDNA_TOKEN }}
        W3C_WG_DECISION_URL: https://lists.w3.org/Archives/Public/public-browser-tools-testing/2024OctDec/0003.html
        W3C_BUILD_OVERRIDE: |
          status: WD
