name: deploy
on:
  pull_request: {}
  push:
    branches: [master]
jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: w3c/spec-prod@v1
      with:
        GH_PAGES_BRANCH: gh-pages
