# https://github.com/pre-commit/action

name: pre-commit

on:
  pull_request:
  push:
    branches: 'main'

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: pre-commit/action@v3.0.1
